# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.pem
.terraform.lock.hcl

# --- Ansible ---
ansible/vars.yml
*.retry

# --- Python & Junk ---
venv/
__pycache__/
*.log
.DS_Store
.env.prod
.vagrant/